app = "easyfinder-frontend"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[[services]]
  internal_port = 80     
  protocol = "tcp"

  [[services.ports]]
    port = 80

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
