app = "easyfinder-api"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    port = 80



[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
